

/*.board-wrapper {
    width: 500px;
    height: 500px;
    background-color: beige;
    position: relative;
    margin: 0 auto;
}

.board {
    width: 402px;
    height: 402px;
    position: absolute;
    margin: 50px;
    border: 1px solid rgb(84, 149, 84); 
}

.cell {
    width: 50px;
    height: 50px;
    float: left; 
}

.green {
    background-color: rgb(84, 149, 84); 
    
}

img {
    width: 40px;
    height: 40px;
}

.active {
    background-color: orange;
}
*/


#field {
    width: 320px;
    height: 320px;
    box-sizing: content-box;
    border: 1px solid black;
}

.cell-block {
    width: 38px;
    height: 38px;
    float: left;
    border: 1px solid rgb(49, 54, 49);
    
}

.bg-black {
    background-color: rgb(49, 54, 49);
}


img {
    width: 30px;
    height: 30px;
}

.active_hw,
.active_hb,
.active_bw,
.active_bb,
.active_wq,
.active_bq {
    background-color: orange;
}